@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

body {
  font-family: "Kumbh Sans", sans-serif !important;
  background: linear-gradient(#00d2ff, #3a7bd5);
}

#app {
  max-height: 100vh;
  overflow: hidden;
}

.header {
  padding: 0 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header p {
  margin-top: 20px;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #007bff;
  text-shadow: 2px 2px #000;
}

.username-input {
  max-width: 150px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messages {
  overflow: auto;
  height: 80%;
  padding-right: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 97, 105, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 97, 105, 0.8);
}
